.editableMovie {
  position: relative;
  display: flex;
  width: 80%;
  font-size: 20px;
  text-align: left;

  @media screen and (max-width: 1024px) and (min-height: 920px) {
    width: 100%;
  }

  .editionForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    padding: 0 5px;

    @media screen and (min-width: 1024px) and (min-height: 920px) {
      flex-direction: row;
      gap: 0;
      padding: 0;
      height: 34px;

      input {
        margin: 0 5px;
      }

      .title,
      .director {
        width: 200px;
      }

      .premiere {
        width: 60px;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          -moz-appearance: textfield;
          margin: 0;
        }
      }
    }

    .submitButton {
      margin: 0 auto;

      @media screen and (min-width: 1024px) and (min-height: 920px) {
        margin-left: auto;
      }
    }
  }

  .errorMessages {
    position: absolute;
    top: 115%;
    left: 20px;
  }
}
