.moviesList {
  text-align: center;

  .header {
    letter-spacing: 1px;
  }

  .list {
    padding: 5px;
    width: 95%;
    margin: 0 auto;
    border-radius: 8px;
    list-style-type: none;
    overflow: hidden;

    &.disabled {
      display: none;
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;

    .link {
      border-bottom: 1px solid #fff;
      text-decoration: none;
      transition: 0.2s;

      &:hover {
        border-color: #ddd;
        color: #ddd;
      }
    }

    .icon {
      margin: 0 5px;
    }
  }
}
