.moviesListControlButtonsPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  align-items: center;
  width: 140px;
  margin: 0 auto;

  @media screen and (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-around;
    gap: 0;
  }
}
